.personCard {
  margin: 1rem 0;
}

.deleteBtn {
  flex: 0 0 0;
}

.vaccinationOpts {
  width: 100%;
}

.form {
  padding: 0 1rem;
}

.result {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0.5em 1em 0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  z-index: 10;
}
